/*Обнуление==================================================*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/* ==================== */

@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

body{
    
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullscreen__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.289);
}

.fullscreen__title {
    font-size: 50px;
    letter-spacing: 17px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
}

.fullscreen__text {
    font-size: 20px;
    letter-spacing: 10px;
}

.fullscreen__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========== */

.content {
    position: relative;
    z-index: 5;
    padding: 50px 0px;
    background-color: #fff;
}

.content__container {
    max-width: 1200px;
    margin: 0 auto;
}

.content__body {
    
}

.content_items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;text-align: center;
    gap: 120px;
}

.content__item {
    border-radius: 20px;
    background: #fff;
    min-width: 200px;
    align-items: center;
    text-align: center;
    padding: 35px 20px;
    box-shadow: 0px 0px 29px 7px rgba(0, 0, 0, 0.79);
}

.item-img{
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.item-img img{
    width: 60px;
    height: 60px;
}

.item-title {
    font-family: 'Barlow Condensed', sans-serif;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
    line-height: 150%;
}

.item-text {
    font-family: 'Barlow Condensed', sans-serif;
    color: #000;
    font-size: 15px;
    letter-spacing: 3px;
}


.footer {
    padding: 30px 0px;
    background-color: #000;
    position: relative;
        z-index: 5;
    
}

.footer-content {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}

.footer-text {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}


/* ===================================================== */


/* .items {
    padding: 58px 0px;
}

.items__container {
    max-width: 1200px;
    margin: 0 auto;
}

.items__body {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    padding: 0px 15px;
}

.item {}

.item__video {
    position: relative;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 56% 0px;
}


.item__video video{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item__text {
    text-align: center;
    font-size: 19px;
    line-height: 150%;
} */